{{ define "content" }}
    <div class="login-container">
        <div class="login-form-container" x-data="">
            <p class="login-form-header">{{ .Organization }} PORTal Login</p>
            <form hx-post="/" hx-target="#content" hx-indicator=".form-submit"
                  @htmx:xhr:loadstart="() => {
                    $refs.usernameInput.disabled = true;
                    $refs.passwordInput.disabled = true;
                }"
                  @htmx:after-request.camel="() => {
                    $refs.usernameInput.disabled = false;
                    $refs.passwordInput.disabled = false;
                }" x-data="">
                <label>
                    <input class="login-input" name="username" x-ref="usernameInput" placeholder="Username" style="margin-top: 2.5rem;" type="text" />
                </label>
                <label>
                    <input class="login-input" name="password" x-ref="passwordInput" placeholder="Password" type="password" />
                </label>
                <div class="login-form-submit-container" @click="$refs.err.className='login-error--hidden'">
                    {{ template "login-button" "Login"}}
                </div>
            </form>
            <div id="loginError" x-ref="err" class="login-error--hidden"></div>
        </div>
    </div>
{{ end }}

{{ define "auth_error"}}
    <div id="loginError" x-ref="err" class="login-error--active"><p>Invalid username or password</p></div>
{{ end }}

{{ define "internal_error"}}
    <div id="loginError" x-ref="err" class="login-error--active"><p>Internal server error</p></div>
{{ end }}