package pages

import (
    "PORTal/templates/components/button"
)

templ Login(organization string) {
	<div class="login-container">
		<div class="login-form-container">
			<p class="login-form-header">{organization} PORTal Login</p>
			<form
			    method="post"
			    action="/"
				hx-target="body"
				hx-indicator=".form-submit"
			>
				<label>
					<input class="login-input" name="username" placeholder="Username" style="margin-top: 2.5rem;" type="text"/>
				</label>
				<label>
					<input class="login-input" name="password" placeholder="Password" type="password"/>
				</label>
				<div class="login-form-submit-container">
					@button.Button("Login", button.Submit, false, false)
				</div>
			</form>
			<div id="loginError" class="login-error--hidden"></div>
		</div>
	</div>
}

templ LoginAuthError() {
	<div id="loginError" class="login-error--active"><p>Invalid username or password</p></div>
}

templ LoginCustomError(e string) {
	<div id="loginError" class="login-error--active"><p>{e}</p></div>
}
