.admin-layout {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 40px 1fr;
}

.admin-content {
    display: grid;
    grid-template-columns: 33% 1fr;

}

.editor {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.editor-input {
    width: 22rem;
    display: inline;
}

.member-toggle {
    margin-left: auto;
}

.admin-new-member {
    margin-top: 1rem;
    margin-left: auto;
}