.dropdown-content {
    z-index: 10;
    background-color: hsl(var(--background));
    color: hsl(var(--primary));
    position:relative;
    width: fit-content;
}

.dropdown-item {
    cursor: pointer;
    padding: 1rem;
    &:hover {
        background-color: hsl(var(--background-dark))
    }
}