.toast {
    position: fixed;
    top: var(--nav-height);
    right: 0;
    width: fit-content;
    padding: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: hsla(var(--success) / 0.5);
    border: 1px solid hsl(var(--success));
    transition: all 0.5s ease;
    cursor: pointer;
}
.toast.toast-danger {
    background-color: hsla(var(--error) / 0.5);
    border: 1px solid hsl(var(--error));
}


.toast--hidden {
    transform: translate(calc(100% + 1rem));
}