package templates

import (
    "PORTal/types"
)

type NavData struct {
	Show         bool
	OobSwap      bool
	Member       types.Member
	Subordinates bool
}

func (n NavData) GetNavItems() []NavItem {
	// All users get a dashboard
	items := []NavItem{
		{
			Href:    "/dashboard",
			Display: "Dashboard",
		},
	}
	if n.Subordinates {
		items = append(items, NavItem{
			Href:    "/members",
			Display: "Members",
		})
	}
	if n.Member.Admin {
		items = append(items, NavItem{
			Href:    "/admin",
			Display: "Admin",
		})
	}
	return items
}

type NavItem struct {
	Href    string
	Display string
}

templ Nav(data NavData) {
    if data.Show {
        <nav class="nav" id="nav"
            if data.OobSwap {
                hx-swap-oob="true"
            }>
            for _, item := range data.GetNavItems() {
                <a class="nav-item" href={templ.URL(item.Href)}
                hx-select="#content"
                hx-swap="outerHTML"
                hx-target="#content">{ item.Display }</a>
            }
            <div class="nav-right-items">
                <p class="nav-display-name">{ DisplayName(data.Member) }</p>
                <a class="nav-item" hx-target="body" href="/logout">Logout</a>
            </div>
        </nav>
    } else {
        <nav id="nav"
            if data.OobSwap {
                hx-swap-oob="true"
            } ></nav>
       }
}