package templates

import (
    "PORTal/types"
)

type NavData struct {
	Show         bool
	OobSwap      bool
	Member       types.Member
	Subordinates bool
}

func getNavItems(subordinates, admin bool) []NavItem {
	// All users get a dashboard
	items := []NavItem{
		{
			Href:    "/dashboard",
			Display: "Dashboard",
		},
	}
	if subordinates {
		items = append(items, NavItem{
			Href:    "/members",
			Display: "Members",
		})
	}
	if admin {
		items = append(items, NavItem{
			Href:    "/admin",
			Display: "Admin",
		})
	}
	return items
}

type NavItem struct {
	Href    string
	Display string
}

templ Nav(show, oobSwap, subordinates, admin bool, memberDisplayName string) {
    if show {
        <nav class="nav" id="nav"
            if oobSwap {
                hx-swap-oob="true"
            }>
            for _, item := range getNavItems(subordinates, admin) {
                <a class="nav-item" href={templ.URL(item.Href)}
                hx-target="#content">{ item.Display }</a>
            }
            <div class="nav-right-items">
                <p class="nav-display-name">{memberDisplayName}</p>
                <a class="nav-item" hx-target="body" href="/logout">Logout</a>
            </div>
        </nav>
    } else {
        <nav id="nav"
            if oobSwap {
                hx-swap-oob="true"
            } ></nav>
       }
}