{{ define "root" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.7/dist/cdn.min.js"></script>
    <script src="/assets/js/dropdown.js"></script>
    <script src="/assets/js/member_editor.js"></script>
    <link rel="icon" type="image/png" href="/assets/images/port_dawg.png" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <title>{{ .Organization }} PORTal</title>
</head>
<body>
<div class="layout">
    {{ block "nav" .NavData }}
        <p>Error rendering nav</p>
    {{ end }}
    <div id="content">
    {{ block "content" .ContentData }}
        <h1>Make me a 404 page</h1>
    {{ end }}
    </div>
</div>
</body>
</html>
{{ end }}

