package templates

import (
"PORTal/templates/components/webcomponents"
)

templ Root(navData NavData, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta
				name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
			/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<script src="https://unpkg.com/htmx.org@2.0.3"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.7/dist/cdn.min.js"></script>
			<script src="/assets/js/alpineStores.js"></script>
			<script src="/assets/js/errors.js"></script>
			<script defer src="/assets/js/webcomponents/multiSelect.js"></script>
			<script defer src="/assets/js/webcomponents/requirementSelector.js"></script>
			<script defer src="/assets/js/webcomponents/requirementItem.js"></script>
			<script defer src="/assets/js/webcomponents/requirementEditor.js"></script>
			<script defer src="/assets/js/webcomponents/qualificationEditor.js"></script>
			<link rel="icon" type="image/png" href="/assets/images/port_dawg.png"/>
			<link rel="stylesheet" href="/assets/css/reset.css"/>
			<link rel="stylesheet" href="/assets/css/index.css"/>
			<title>{ cfg.Organization } PORTal</title>
		</head>
		<body>
			<div class="layout">
				@Nav(navData)
				<div id="toast" class="toast toast--hidden"></div>
				<div id="content">
					@content
				</div>
			</div>
			@webcomponents.WebComponentTemplates()
		</body>
	</html>
}
