package templates

templ Root(navData NavData, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta
				name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
			/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<script src="/assets/js/htmx@2.0.4.js"></script>
			<script defer src="/assets/js/alpinejs@3.x.x.js"></script>
			<script defer src="/assets/js/webcomponents/bundle.js"></script>
			<link rel="icon" type="image/png" href="/assets/images/port_dawg.png"/>
			<link rel="stylesheet" href="/assets/css/reset.css"/>
			<link rel="stylesheet" href="/assets/css/index.min.css"/>
			<title>{ cfg.Organization } PORTal</title>
		</head>
		<body hx-boost="true">
			@Layout(navData, content)
		</body>
	</html>
}

templ Layout(navData NavData, content templ.Component) {
    <div class="layout">
        @Nav(navData)
        <div id="toast" class="toast toast--hidden"></div>
        <div id="content">
            @content
        </div>
    </div>
}
