package webcomponents


// This is just to render out the template elements on initial page load.
// They need to be there since the web components are registered also on initial page load and will be looking for the template tags.

templ WebComponentTemplates() {
}
