package webcomponents

import "fmt"

type DropdownItem struct {
	DisplayName string
	Value       string
}

var adminDropdownItems = []DropdownItem{
	{
		DisplayName: "Members",
		Value:       "members",
	},
	{
		DisplayName: "Qualifications",
		Value:       "qualifications",
	},
}

templ Dropdown(selected string) {
    <dropdown-component data-selected={selected}>
        <div style="padding: 5px">
            <button type="button" class="button primary"></button>
            <ul class="dropdown-content">
            for _, item := range adminDropdownItems {
                    <li class="dropdown-item" hx-target="#admin-content" hx-get={fmt.Sprintf("/admin/%s", item.Value)}>{ item.DisplayName }</li>
            }
            </ul>
        </div>
    </dropdown-component>
}