package webcomponents

import (
    "PORTal/types"
    "strconv"
    "PORTal/templates/components"
)

type RequirementEditorData struct{
    SelectedRequirement types.Requirement
    NewRequirement bool
    Qualifications []types.Qualification
}

templ RequirementEditor(data RequirementEditorData) {
    <requirement-editor>
        <form class="editor">
            <label>ID: <input name="id" class="editor-input" disabled value={data.SelectedRequirement.ID} /></label>
            <label>Type:
                <select name="type">
                    for _, t := range types.GetRequirementTypes() {
                        <option value={string(t)}
                        if data.SelectedRequirement.Type == t {
                            selected
                        }
                        >{string(t)}</option>
                    }
                </select>
            </label>
            <label for="name">Name: <input name="name" value={ data.SelectedRequirement.Name } /></label>
            <label for="notes">Notes: <textarea name="notes">{data.SelectedRequirement.Notes}</textarea></label>
            <label for="days_valid_for">Days Valid For: <input name="days_valid_for" type="number" value={ strconv.Itoa(data.SelectedRequirement.DaysValidFor)} /></label>
            <label for="qualification_id">Qualification: <select name="qualification_id">
                for _, q := range data.Qualifications {
                    <option value={q.ID}
                    if data.SelectedRequirement.QualificationID == q.ID {
                        selected
                    }>
                        {q.Name}
                    </option>
                }
            </select></label>
            <label>Reference: <input name="reference" value={data.SelectedRequirement.Reference} placeholder="e.g. AFI 24-605V2 2.8"/> </label>
            <div style="display: flex; gap: 1rem; margin-left: auto;">
                <button class="button danger" type="button">Cancel</button>
                @components.SubmitButton("Create", true)
            </div>
        </form>
    </requirement-editor>
}

templ RequirementQualificationForm(data RequirementEditorData) {

}