package webcomponents

import (
"PORTal/types"
"PORTal/templates/helpers"
)

templ RequirementSelector(reqType string, requirements []types.Requirement, parentQualificationID string) {
    <requirement-selector
        requirements={helpers.RequirementsToJSON(requirements)}
        data-reqType={reqType}
        data-parent-qualification-id={parentQualificationID}
    >
        <dialog class="requirement-dialog"></dialog>
        <div class="requirement-items">
                    <span>
                    </span>
                    <button id="add-button" type="button">Add</button>
        </div>
    </requirement-selector>
}