package webcomponents

import (
    "fmt"
)

type SearchableListItem interface {
    GetID() string
    Display() string
}

templ SearchableList(items []SearchableListItem, selectedItem SearchableListItem, target, htmxGetBase, typ string) {
    <searchable-list class="searchable-list-container">
        <div class="searchable-list-search">
            <input class="searchable-list-search-input" placeholder="Filter"/>
            <button class="button primary" type="button">Clear</button>
        </div>
        <ul class="searchable-list-items">
        for _, item := range items {
            <li
                if selectedItem.GetID() == item.GetID() {
                    data-selected="true"
                }
                class={"searchable-list-item", templ.KV(selectedItem.GetID() == item.GetID(), "searchable-list-item--selected")}
                hx-target={target} hx-get={fmt.Sprintf("%s/%s", htmxGetBase, item.GetID())}>
                    { item.Display() }
            </li>
        }
        </ul>
        <button type="button" class="searchable-list-add button primary" hx-get={fmt.Sprintf("%s/add", htmxGetBase)} hx-target={target}>New {typ}</button>
    </searchable-list>
}