package components

import "PORTal/templates/components/icons"

templ RequirementItem(name, id string) {
    <button data-id={id} type="button" class="requirement-item">{name} @icons.X("remove-requirement-button")</button>
}