package admin

import (
    "PORTal/templates/components"
    "PORTal/types"
    "fmt"
    "strconv"
)

type ReferencePaneData struct {
	SelectedReference   types.Reference
	References          []types.Reference
	OobSwap             bool
	ReferenceEditorData ReferenceEditorData
}

type ReferenceEditorData struct{
    SelectedReference types.Reference
    NewReference bool
}


templ ReferencesPane(data ReferencePaneData) {
    <div x-data="adminReferenceList" id="references-list" class="searchable-list"
        if data.OobSwap {
            hx-swap-oob="true"
        }>
        <div class="searchable-list-search">
            <input class="searchable-list-search-input" placeholder="Filter"/>
            <button class="button primary" type="button">Clear</button>
        </div>
        <ul class="searchable-list-items">
            for _, reference := range data.References {
                <li
                        @click="selectHandler"
                        if data.SelectedReference.ID == reference.ID {
                            x-init="selectHandler({target: $el})"
                        }
                        class={"searchable-list-item", templ.KV("searchable-list-item--selected", data.SelectedReference.ID == reference.ID)}
                        hx-target="#reference-content" hx-get={fmt.Sprintf("/admin/references/%s", reference.ID)}>
                            { reference.Name }
                </li>
            }
        </ul>
        <button @click="clearSelectedReference" type="button" class="admin-new-member button primary" hx-get="/admin/references/add" hx-target="#reference-content">New Reference</button>
    </div>
    <div id="reference-content">
        if data.SelectedReference.ID!= "" || data.ReferenceEditorData.NewReference {
            @ReferenceEditor(data.ReferenceEditorData)
        }
    </div>
}

templ ReferenceEditor(data ReferenceEditorData) {
    <form x-data="adminReferenceEditor" class="editor" hx-indicator=".form-submit"
        if data.NewReference {
        hx-post="/admin/references/add"
        } else {
        hx-post={fmt.Sprintf("/admin/references/%s", data.SelectedReference.ID)}
        }
        hx-target="#admin-content"
    >
        <label>ID: <input name="id" class="editor-input" disabled value={data.SelectedReference.ID} /></label>
        <label>Name: <input name="name" value={ data.SelectedReference.Name } /></label>
        <label>Volume: <input name="volume" type="number" value={ strconv.Itoa(data.SelectedReference.Volume) } /></label>
        <label>Paragraph: <input name="paragraph" value={ data.SelectedReference.Paragraph} /></label>
        <div style="display: flex; gap: 1rem;">
            if data.NewReference {
                @components.SubmitButton("Create Reference", true)
            } else {
                @components.SubmitButton("UpdateReference", true)
            }
        </div>
    </form>
                <script type="text/javascript">
                    document.querySelector(".editor").addEventListener("change", function() {
                        document.querySelector(".form-submit").disabled = false
                    })
                </script>
}