.list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.member-toggle {
    height: fit-content;
    & a {
        display: inline-block;
        color: black;
        border: 1px solid hsl(var(--background));
    }
}

.searchbar {
    display: flex;
}

.member-search {
    display: inline-block;
    height: 100%;
}

.searchable-list-items {
        overflow-x: scroll;
        height: 66.6666%;
        width: 75%;
        border: 1px solid black;
        padding: 0.5rem;
}

.searchable-list-item {
    cursor: pointer;
}

.searchable-list-item:not(.searchable-list-item--selected):hover {
    background-color: hsla(var(--background-light) / 0.7);
}

.searchable-list-item--selected {
    background-color: hsl(var(--background));
    color: hsl(var(--primary));
}

.editor {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.editor-input {
    width: 22rem;
    display: inline;
}