package admin

templ AdminPage(dropdownValue string, content templ.Component) {
    <div class="admin-layout">
        @AdminDropdown(dropdownValue, false)
        <div id="admin-content" class="admin-content">
            @content
        </div>
    </div>
}