package admin

import (
	"PORTal/templates/components/webcomponents"
	"PORTal/types"
	"PORTal/templates"
)

type QualificationPaneData struct {
	Qualifications          []types.Qualification
	SelectedQualification   types.Qualification
	QualificationEditorData webcomponents.QualificationEditorData
	OobSwap                 bool
}

templ QualificationPane(data QualificationPaneData) {
	<div
		id="qualifications-list"
		class="searchable-list"
		if data.OobSwap {
			hx-swap-oob="true"
		}
	>
	    @webcomponents.SearchableList(templates.QualificationsToListItems(data.Qualifications), data.SelectedQualification, "#qualification-content", "/admin/qualifications", "Qualification")
	</div>
	<div id="qualification-content">
		if data.SelectedQualification.ID != "" || data.QualificationEditorData.NewQualification {
			@webcomponents.QualificationEditor(data.QualificationEditorData)
		}
	</div>
}
