{{ define "content" }}
    <div class="admin-layout">
        {{ template "dropdown" .DropdownData }}
        <div id="admin-content" class="admin-content">
            {{ template "references" .ReferencesData }}
        </div>
    </div>
{{ end }}

{{ define "references" }}
    <div x-data="adminReferenceList" id="references-list" class="searchable-list" {{ if .OobSwap }} hx-swap-oob="true"{{ end }}>
        <div class="searchable-list-search">
            <input class="searchable-list-search-input" placeholder="Filter"/>
            <button class="button primary" type="button">Clear</button>
        </div>
        <ul class="searchable-list-items">
            {{ range .References }}
                <li
                        @click="selectHandler"
                        {{ if eq $.SelectedReference.ID .ID}}x-init="selected=$el"{{ end }}
                        class="searchable-list-item {{ if eq $.SelectedReference.ID .ID}}searchable-list-item--selected{{ end }}"
                        hx-target="{{$.SwapTarget}}" hx-get="/{{$.FragmentBasePath}}/{{.ID}}">
                    {{ displayName . }}
                </li>
            {{ end }}
        </ul>
        <button @click="clearSelectedReference" type="button" class="admin-new-member button primary" hx-get="/admin/references/add" hx-target="#reference-content">New Reference</button>
    </div>
    <div id="reference-content">
        {{ if or (ne .SelectedReference.ID "") .ReferenceEditorData.NewMember }}
            {{ template "reference-editor" .ReferenceEditorData }}
        {{end}}
    </div>
{{ end }}