package admin

import (
    "PORTal/templates/components"
    "PORTal/types"
    "strconv"
)

type RequirementEditorData struct{
    SelectedRequirement types.Requirement
    NewRequirement bool
}

templ RequirementEditor(data RequirementEditorData) {
    <requirement-editor>
        <form class="editor" method="POST" action="/admin/requirements/add">
            <label>ID: <input name="id" class="editor-input" disabled value={data.SelectedRequirement.ID} /></label>
            <label>Type:
                <select name="type">
                    for _, t := range types.GetRequirementTypes() {
                        <option value={string(t)}
                        if data.SelectedRequirement.Type == t {
                            selected
                        }
                        >{string(t)}</option>
                    }
                </select>
            </label>
            <label>Name: <input name="name" value={ data.SelectedRequirement.Name } /></label>
            <label>Notes: <textarea name="notes">{data.SelectedRequirement.Notes}</textarea></label>
            <label>Days Valid For: <input name="days_valid_for" type="number" value={ strconv.Itoa(data.SelectedRequirement.DaysValidFor)} /></label>
            <label>Reference: <input name="reference" value={data.SelectedRequirement.Reference} placeholder="e.g. AFI 24-605V2 2.8"/> </label>
            <div style="display: flex; gap: 1rem; margin-left: auto;">
                <button class="button danger" type="button">Cancel</button>
                if data.NewRequirement {
                    @components.SubmitButton("Create", true)
                } else {
                    @components.SubmitButton("Update", true)
                }
            </div>
        </form>
    </requirement-editor>
}