package admin

import (
	"PORTal/templates/components/webcomponents"
	"PORTal/types"
	"fmt"
)

type QualificationPaneData struct {
	Qualifications          []types.Qualification
	SelectedQualification   types.Qualification
	QualificationEditorData webcomponents.QualificationEditorData
	OobSwap                 bool
}

templ QualificationPane(data QualificationPaneData) {
	<div
		x-data="adminQualificationList"
		id="qualifications-list"
		class="searchable-list"
		if data.OobSwap {
			hx-swap-oob="true"
		}
	>
		<div class="searchable-list-search">
			<input class="searchable-list-search-input" placeholder="Filter"/>
			<button class="button primary" type="button">Clear</button>
		</div>
		<ul class="searchable-list-items">
			for _, qualification := range data.Qualifications {
				<li
					@click="selectHandler"
					if data.SelectedQualification.ID == qualification.ID {
						x-init="selectHandler({target: $el})"
					}
					class={ "searchable-list-item", templ.KV(data.SelectedQualification.ID == qualification.ID, "searchable-list-item--selected") }
					hx-target="#qualification-content"
					hx-get={ fmt.Sprintf("/admin/qualifications/%s", qualification.ID) }
				>
					{ qualification.Name }
				</li>
			}
		</ul>
		<button @click="clearSelectedQualification" type="button" class="admin-new-member button primary" hx-get="/admin/qualifications/add" hx-target="#qualification-content">New Qualification</button>
	</div>
	<div id="qualification-content">
		if data.SelectedQualification.ID != "" || data.QualificationEditorData.NewQualification {
			@webcomponents.QualificationEditor(data.QualificationEditorData)
		}
	</div>
}
