package admin

import "PORTal/templates/components/webcomponents"

templ AdminPage(dropdownValue string, content templ.Component) {
    <div class="admin-layout">
        @webcomponents.Dropdown(dropdownValue)
        <div id="admin-content" class="admin-content">
            @content
        </div>
    </div>
}