package admin

import (
    "PORTal/types"
    "PORTal/templates/components/button"
    "PORTal/templates"
    "fmt"
    )

templ MembersPane(
    members []types.Member,
    selectedMember types.Member,
    ranks types.RankMap,
    potentialSupervisors []types.Member,
    oobSwap,
    disabledMembers,
    newMember bool,
    query string,
) {
    @MemberList(oobSwap, disabledMembers, members, selectedMember, query)
    <div id="member-content">
        if selectedMember.ID != "" || newMember {
            @MemberEditor(selectedMember, ranks, potentialSupervisors, newMember)
        }
    </div>
}

templ MemberList(oobSwap, disabledMembers bool, members []types.Member, selectedMember types.Member, query string) {
    <div id="members-list" class="list-container"
         if oobSwap {
            hx-swap-oob="true"
         }>
                <div class="member-toggle">
                    <a href="/admin?fragment=members_pane&disabled=false" class={"button", templ.KV("primary", !disabledMembers)}
                       hx-target="#admin-content"
                       hx-push-url="true">
                        Enabled
                    </a><a href="/admin?fragment=members_pane&disabled=true" class={"button", templ.KV("primary", disabledMembers)}
                       hx-target="#admin-content"
                       hx-push-url="true">
                        Disabled
                    </a>
                </div>
                @FilteredList(members, selectedMember, query, disabledMembers)
        </div>
}

templ FilteredList(members []types.Member, selectedMember types.Member, query string, disabled bool) {
    <label
        x-data={fmt.Sprintf("{input:'%s'}", query)}
        hx-get={fmt.Sprintf("/admin?fragment=members_pane&disabled=%t&selected=%s", disabled, selectedMember.ID)}
        hx-target="#admin-content"
        hx-include="[name='member_query']"
        hx-trigger="keyup changed delay:300ms, clear delay:50ms"
        hx-push-url="true"
        class="searchbar" for="member">
        <input
        x-model="input"
        x-init="$el.focus()"
        class="member-search" name="member_query" type="text" />
        <button @click="input=''; $dispatch('clear')" class="button primary">Clear</button>
    </label>
    <ul x-data="{selected:''}" class="searchable-list-items"
        hx-get={fmt.Sprintf("/admin?fragment=members_pane&disabled=%t&member_query=%s", disabled, query)}
        hx-target="#admin-content"
        hx-push-url="true"
        hx-include="[name='selected']"
    >
        <input hidden name="selected" x-model="selected" />
        for _, member := range members {
            <li data-id={member.ID} class={"searchable-list-item", templ.KV("searchable-list-item--selected", selectedMember.ID == member.ID)}
                @click="selected=$event.target.dataset.id"
            >
                {member.Display()}
            </li>
        }
    </ul>
}

templ MemberEditor(
    selectedMember types.Member,
    ranks types.RankMap,
    potentialSupervisors []types.Member,
    newMember bool,
) {
        <form class="editor" hx-indicator=".form-submit"
              if newMember {
                hx-post="/admin/addMember"
              } else {
                hx-put={fmt.Sprintf("/admin/updateMember?member=%s", selectedMember.ID)}
              }
              hx-target="#admin-content"
        >
            <label>ID: <input name="id" readonly class="editor-input" value={selectedMember.ID} /></label>
            <label>Rank:
                <select name="grade"
                    hx-get="/admin/potentialSupervisors"
                    hx-include="[name='grade'], [name='id']"
                    hx-target="#supervisor"
                    hx-swap="outerHTML"
                >
                    for _, tuple := range ranks.SortedRanks() {
                        <option
                        if tuple.Grade == selectedMember.Grade {
                            selected
                        }
                        value={string(tuple.Grade)}>
                            {tuple.Rank}
                        </option>
                    }
                </select>
            </label>
            <label>First Name: <input name="first_name" value={ selectedMember.FirstName } /></label>
            <label>Last Name: <input name="last_name" value={ selectedMember.LastName } /></label>
            <label>Username: <input name="username"
                if !newMember {
                    disabled
                }
                value={ selectedMember.Username } /></label>
            @SupervisorList(potentialSupervisors, selectedMember)
            <label>Admin: <input name="admin" type="checkbox"
                if selectedMember.Admin {
                    checked
                }></label>
            <label>Password: <input onkeyup="this.setCustomValidity('')" hx-on:htmx:validation:validate="validatePassword(this)" name="password" type="password"/></label>
            <label>Confirm Password: <input onkeyup="this.setCustomValidity('')" hx-on:htmx:validation:validate="validateConfirmPassword(this)" name="confirm_password" type="password">
            </label>
            <div style="display: flex; gap: 1rem;">
                if newMember {
                    @button.Button("Create Member", button.Submit, true, false)
                } else {
                    @button.Button("Update Member", button.Submit, true, false)
                }
                if newMember {
                <button class="button danger form-submit" type="button"
                    hx-post={fmt.Sprintf("/admin/members/%s/%s", selectedMember.ID, enableDisableToggle(selectedMember.Disabled))}>
                    <span class="form-submit--text">
                        if selectedMember.Disabled {
                            Enable
                        } else {
                            Disable
                        } Member</span>
                    <span class="form-submit--spinner"><svg class="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg></span>
                </button>
                }
            </div>
        </form>
            <script type="text/javascript">
                document.querySelector(".editor").addEventListener("change", function() {
                    document.querySelector(".form-submit").disabled = false
                })
                function validatePassword(t) {
                    if (t.value.length !== 0 && t.value.length < 8) {
                        t.setCustomValidity("Password must be at least 8 characters long")
                        t.classList.add("invalid")
                    }
                }

                function validateConfirmPassword(t) {
                    const password = htmx.find("input[name=password]")
                    if (t.value !== password.value) {
                        t.setCustomValidity("Passwords do not match")
                        t.classList.add("invalid")
                    }
                    htmx.find(".editor").reportValidity()
                }
            </script>
}

func enableDisableToggle(memberDisabled bool) string {
    if memberDisabled {
        return "enable"
    } else {
        return "disable"
    }
}

templ SupervisorList(potentialSupervisors []types.Member, selectedMember types.Member) {
    if len(potentialSupervisors) > 0 {
    <label id="supervisor">Supervisor:
        <select name="supervisor">
            <option value="">No Supervisor</option>
            for _, supervisor := range potentialSupervisors {
                <option value={supervisor.ID}
                if selectedMember.SupervisorID == supervisor.ID {
                    selected
                }>{ templates.DisplayName(supervisor) }</option>
            }
        </select>
    </label>
    } else {
        <label style="display: none" id="supervisor"></label>
    }
}